<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signUpStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="signup.js"></script>
</head>
<body>
    <div class="container">
        <div class="formBox">
            <h2 id="title">Sign Up</h2>    
            <form id="signup-form">
                <div class = "inputField">
                    <input type="text" id="Susername" name="Susername" placeholder="Username"> </div>
                <div class = "inputField" id=emailField>
                    <input type="email" id="Semail" name="Semail" placeholder="Email"> </div>
                <div class = "inputField">
                    <input type="password" id="Spassword" name="Spassword" placeholder="Password"></div>
                <div class = "inputField">
                    <input type="password" id="Sconfirm_password" name="Sconfirm_password" placeholder="Confirm Password"></div>
                
                <div class = "buttonField">
                    <button type="submit" id="signUpButton"> Sign Up</button>
                    <button type="submit" id="logInButton" class="disable"> Log In</button>
                </div>
            </form>
        </div>
    </div>
<script>
let signUpButton=document.getElementById("signUpButton");
let logInButton=document.getElementById("logInButton");
let emailField=document.getElementById("emailField");
let title=document.getElementById("title");

logInButton.onclick=function(){
    emailField.style.maxHeight="0";
    title.innerHTML= "Log In";
    signUpButton.classList.add("disable");
    signUpButton.classList.remove("disable");
    }

signUpButton.onclick=function(){
    emailField.style.maxHeight="60px";
    title.innerHTML= "Sign Up";
    signUpButton.classList.remove("disable");
    signUpButton.classList.add("disable");
    }
</script>
</body>
</html>
