.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#usernames {
    animation: fadeIn 2s;
}

.type-answer input[type="text"] {
    padding: 10px;
    margin: 20px 0;
    width: 300px;
}

.type-answer button {
    padding: 10px 20px;
}

/* Simple fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; scale:2}

}
