<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roshambo'd!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark title">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav center-buttons">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>

             
                <ul class="navbar-nav align-right-buttons" right:100px > 
                    <li class="nav-acc-item">
                        <button type="button" class="btn btn-outline-success my-2 my-sm-0 title" style = "color: antiquewhite">
                            Sign In
                        </button>
                    </li>
                    <li class="nav-acc-item">
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0 title" style = "color: antiquewhite">
                            Create Account
                        </button>
                    </li>
                </ul>
                
            </div>
        </nav>



        
        <div class="container mt-4">
            <h1 class = "title gradient textoutline" style = "font-size: 5.5rem">Roshambo'd!</h1>
            <p class = "title gradient textoutline" style = "font-size: 2.3rem">Challenge someone now or create your own.</p>
            
            <div id="challenges" class="row"> </div>

            <button class="btn btn-primary fun" data-bs-toggle="modal" data-bs-target="#createChallengeModal">Create Challenge</button>

            <!-- challenge modal box -->
            <div class="modal fade" id="createChallengeModal" tabindex="-1" aria-labelledby="createChallengeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createChallengeModalLabel">Create Your Challenge</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <button class="btn btn-secondary">Paper</button>
                            <button class="btn btn-secondary">Scissors</button>
                            <button class="btn btn-secondary">Rock</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
