{% extends "base.html" %}


{% block content %}
{% if open_challenges|length == 0 %}
<h1 class="nogames">no games have been created!</h1>
{% endif%}
<div class="row justify-content-md-center" style="padding:15px">
    <a class="bttn title create-btn" href="{{ url_for('create_challenge') }}">Create Challenge</a>
</div>
{% for challenge in open_challenges %}

    <div class="container mt-4 challenge-box">
        <div id="challenges" class="row title" >
            {{ challenge.user.username  }} wants to play!
            <a class="btn btn-primary fun" href="{{ url_for('accept_challenge', challenge_id=challenge.id) }}"
            style="margin-top: 10px;">Accept Challenge!</a>
        </div>
</div>
{% endfor %}
{% endblock %}
