{% extends "base.html" %}

{% block content %}
<div>
    <div class="game-description">
        <h2 class = "title" style = "color:rgb(226, 119, 43); font-size:45px; text-shadow: 2px 3px 2px rgba(255, 0, 0, 1); text-align: center; margin-bottom: 20px;">Rules</h2>
        <p>
            What is <span class="title text" style = "color: rgb(194, 129, 255);">ROSHAMBO'D</span>?
        </p>
        <p>something interesting</p>

        <div class="row justify-content-md-center" style="padding:15px">
            {% if current_user.is_anonymous %}
                <a class="btn btn-primary fun center-buttons col-md-auto text-center" style="text-align: center" href="{{ url_for('login') }}">Log in</a>
            {% else %}
                <a class="btn btn-primary fun center-buttons col-md-auto text-center" style="text-align: center" href="{{url_for('game')}}">Play!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
