{% extends "base.html" %}

{% block content %}
<div>
    <div class="game-description">
        <h2>Welcome to Roshambo'd!</h2>
        <p>
            <strong>Roshambo'd </strong> is an exciting game that allows users to create challenges and post them for others to participate in.
        </p>
        <p>
            Challenge your friends, test your luck, and see who comes out victorious in this classic game of <span>Rock</span>, <span>Paper</span>, <span>Scissors</span>!
        </p>
        <div class="row justify-content-md-center" style="padding:15px">
            {% if current_user.is_anonymous %}
                <a class="btn btn-primary fun center-buttons col-md-auto text-center" style="text-align: center" href="{{ url_for('login') }}">Log in</a>
            {% else %}
                <a class="btn btn-primary fun center-buttons col-md-auto text-center" style="text-align: center" href="{{url_for('game')}}">Play!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
