{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
<div class="container" style="display: flex; height: 100%;">
    <div class="game" style="flex: 1; font-size: 2em; display: flex; justify-content: center; align-items: center; color: white; background-color: #FFCC99; margin: 50px; padding: 20px; border-radius: 10px;">
        <a href="{{url_for('game')}}">Game</a>
    </div>
    <div class="post" style="flex: 1; font-size: 2em; display: flex; justify-content: center; align-items: center; color: white; background-color: #CCCCCC; margin: 50px; padding: 20px; border-radius: 10px;">
        <a href="{{ url_for('index') }}">Post</a>
    </div>
</div>
{% endblock %}
