{% extends "base.html" %}

{% block content %}
<table class="profile">
    <tr valign="top">
        <td style="padding-right: 20px;"><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            Points: {{ user.points }}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p style="margin-top: 10px;">Last seen on: {{ user.last_seen }}</p>{% endif %}
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}" class="editprofile">Edit your profile</a></p>{% endif %}
        </td>
    </tr>
</table>
    <hr>
    {% for game in games %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}

